.strip1{    
width: 100%;
height: 42px;
border-color: #3b5998;
background-color: #3b5998;
}

.searchInput{
    display: inline-block;
    padding-top: 2px;
    margin-top: 7px;
    margin-left: 7px;
    width: 393px;
    line-height: 100%;
    background-color: white;
    border-radius: 5px;
  
}
